In [1]:
pwd%

'C:\\Users\\Gina'

In [2]:
import os
os.chdir('C://MyPython')

In [4]:
pwd%

'C:\\MyPython'

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
My_chat=pd.read_csv('Finance_Chat.txt', error_bad_lines=False, header=None, encoding='utf-8')

b'Skipping line 158: expected 4 fields, saw 8\nSkipping line 2107: expected 4 fields, saw 8\nSkipping line 2592: expected 4 fields, saw 6\nSkipping line 2597: expected 4 fields, saw 10\nSkipping line 2940: expected 4 fields, saw 5\nSkipping line 3012: expected 4 fields, saw 5\nSkipping line 3067: expected 4 fields, saw 5\nSkipping line 3332: expected 4 fields, saw 8\nSkipping line 3489: expected 4 fields, saw 5\n'

In [8]:
My_chat

,0,1,2,3
0,[02/02/2019,3:23:40 PM] FINANCE 2020ğŸ’™: â€Messages and call...,not even WhatsApp,can read or listen to them.
1,[02/02/2019,3:23:40 PM] â€Joey created this group,NaN,NaN
2,[02/02/2019,3:23:40 PM] â€You were added,NaN,NaN
3,[30/08/2021,7:53:53 AM] Jakk: *ğŸ“Š THE FINANCE FOCUS ğŸ“Š*,NaN,NaN
4,Cal Bank offered the cheapest lending rate of ...,according to the Average Lending Rates of uni...,published by the Bank of Ghana. On the other ...,ADB lends to customers at 24.89% which is the...
...,...,...,...,...
4618,[14/06/2022,5:38:47 PM] â€â€â€ª+233Â 24Â 052Â 7084â€¬ changed thei...,NaN,NaN
4619,[14/06/2022,9:33:33 PM] Nii Nortey: Abeg,wey Lecturer @233591280594 be ein TA no ???,NaN
4620,[14/06/2022,9:34:13 PM] â€ª+233Â 59Â 128Â 0594â€¬: Joshua Addo,NaN,NaN
4621,[14/06/2022,9:37:26 PM] â€ª+233Â 59Â 128Â 0594â€¬: ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜,NaN,NaN
4622,â€[14/06/2022,9:47:45 PM] â€ª+233Â 20Â 844Â 7587â€¬: â€sticker omitted,NaN,NaN

##### Categorizing Data

In [19]:
My_chat.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [29]:
My_chat.columns=['Date','Chat','User','']
date=My_chat['Date']
date=date.str.split('[',n=1,expand=True)[1]

In [22]:
date

0       02/02/2019
1       02/02/2019
2       02/02/2019
3       30/08/2021
4             None
           ...
4618    14/06/2022
4619    14/06/2022
4620    14/06/2022
4621    14/06/2022
4622    14/06/2022
Name: 1, Length: 4623, dtype: object

##### Data Separation

In [32]:
time_message=My_chat['Chat'].str.split(']',n=1,expand=True)
time=time_message[0]
time_message

,0,1
0,3:23:40 PM,FINANCE 2020ğŸ’™: â€Messages and calls are end-to...
1,3:23:40 PM,â€Joey created this group
2,3:23:40 PM,â€You were added
3,7:53:53 AM,Jakk: *ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
4,according to the Average Lending Rates of uni...,None
...,...,...
4618,5:38:47 PM,â€â€â€ª+233Â 24Â 052Â 7084â€¬ changed their phone numb...
4619,9:33:33 PM,Nii Nortey: Abeg
4620,9:34:13 PM,â€ª+233Â 59Â 128Â 0594â€¬: Joshua Addo
4621,9:37:26 PM,â€ª+233Â 59Â 128Â 0594â€¬: ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622,9:47:45 PM,â€ª+233Â 20Â 844Â 7587â€¬: â€sticker omitted

In [34]:
user_message=time_message[1].str.split(':',n=1,expand=True)
user_message

,0,1
0,FINANCE 2020ğŸ’™,â€Messages and calls are end-to-end encrypted....
1,â€Joey created this group,None
2,â€You were added,None
3,Jakk,*ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
4,None,None
...,...,...
4618,â€â€â€ª+233Â 24Â 052Â 7084â€¬ changed their phone numb...,None
4619,Nii Nortey,Abeg
4620,â€ª+233Â 59Â 128Â 0594â€¬,Joshua Addo
4621,â€ª+233Â 59Â 128Â 0594â€¬,ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622,â€ª+233Â 20Â 844Â 7587â€¬,â€sticker omitted

In [35]:
time

0                                              3:23:40 PM
1                                              3:23:40 PM
2                                              3:23:40 PM
3                                              7:53:53 AM
4        according to the Average Lending Rates of uni...
                              ...
4618                                           5:38:47 PM
4619                                           9:33:33 PM
4620                                           9:34:13 PM
4621                                           9:37:26 PM
4622                                           9:47:45 PM
Name: 0, Length: 4623, dtype: object

In [42]:
user=time_message[1].str.split
message=user_message[1]
user=user_message[0]

In [44]:
message

0        â€Messages and calls are end-to-end encrypted....
1                                                    None
2                                                    None
3                                 *ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
4                                                    None
                              ...
4618                                                 None
4619                                                 Abeg
4620                                          Joshua Addo
4621                                               ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622                                     â€sticker omitted
Name: 1, Length: 4623, dtype: object

In [45]:
user

0                                           FINANCE 2020ğŸ’™
1                                â€Joey created this group
2                                         â€You were added
3                                                    Jakk
4                                                    None
                              ...
4618     â€â€â€ª+233Â 24Â 052Â 7084â€¬ changed their phone numb...
4619                                           Nii Nortey
4620                                   â€ª+233Â 59Â 128Â 0594â€¬
4621                                   â€ª+233Â 59Â 128Â 0594â€¬
4622                                   â€ª+233Â 20Â 844Â 7587â€¬
Name: 0, Length: 4623, dtype: object

In [47]:
MyChat=pd.DataFrame({'Date':date, 'Time':time, 'User':user, 'Message':message})
MyChat

,Date,Time,User,Message
0,02/02/2019,3:23:40 PM,FINANCE 2020ğŸ’™,â€Messages and calls are end-to-end encrypted....
1,02/02/2019,3:23:40 PM,â€Joey created this group,None
2,02/02/2019,3:23:40 PM,â€You were added,None
3,30/08/2021,7:53:53 AM,Jakk,*ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
4,None,according to the Average Lending Rates of uni...,None,None
...,...,...,...,...
4618,14/06/2022,5:38:47 PM,â€â€â€ª+233Â 24Â 052Â 7084â€¬ changed their phone numb...,None
4619,14/06/2022,9:33:33 PM,Nii Nortey,Abeg
4620,14/06/2022,9:34:13 PM,â€ª+233Â 59Â 128Â 0594â€¬,Joshua Addo
4621,14/06/2022,9:37:26 PM,â€ª+233Â 59Â 128Â 0594â€¬,ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622,14/06/2022,9:47:45 PM,â€ª+233Â 20Â 844Â 7587â€¬,â€sticker omitted

In [49]:
MyChat.dropna()

,Date,Time,User,Message
0,02/02/2019,3:23:40 PM,FINANCE 2020ğŸ’™,â€Messages and calls are end-to-end encrypted....
3,30/08/2021,7:53:53 AM,Jakk,*ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
6,30/08/2021,4:41:07 PM,Enock Fin,â€â€Your security code with Enock changed. â€Tap...
7,31/08/2021,7:30:43 PM,â€ª+233Â 57Â 514Â 1967â€¬,https://test.nsscertificate.com/certificate/g...
8,31/08/2021,7:41:34 PM,AIM,https://test.nsscertificate.com/certificate/g...
...,...,...,...,...
4616,14/06/2022,1:07:59 PM,Kakraba,â€image omitted
4619,14/06/2022,9:33:33 PM,Nii Nortey,Abeg
4620,14/06/2022,9:34:13 PM,â€ª+233Â 59Â 128Â 0594â€¬,Joshua Addo
4621,14/06/2022,9:37:26 PM,â€ª+233Â 59Â 128Â 0594â€¬,ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622,14/06/2022,9:47:45 PM,â€ª+233Â 20Â 844Â 7587â€¬,â€sticker omitted

In [56]:
MyChat.to_csv('Finance_Chat.csv',index=False)

In [57]:
Mychat=pd.read_csv('Finance_Chat.csv')
Mychat

,Date,Time,User,Message
0,02/02/2019,3:23:40 PM,FINANCE 2020ğŸ’™,â€Messages and calls are end-to-end encrypted....
1,02/02/2019,3:23:40 PM,â€Joey created this group,NaN
2,02/02/2019,3:23:40 PM,â€You were added,NaN
3,30/08/2021,7:53:53 AM,Jakk,*ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
4,NaN,according to the Average Lending Rates of uni...,NaN,NaN
...,...,...,...,...
4618,14/06/2022,5:38:47 PM,â€â€â€ª+233Â 24Â 052Â 7084â€¬ changed their phone numb...,NaN
4619,14/06/2022,9:33:33 PM,Nii Nortey,Abeg
4620,14/06/2022,9:34:13 PM,â€ª+233Â 59Â 128Â 0594â€¬,Joshua Addo
4621,14/06/2022,9:37:26 PM,â€ª+233Â 59Â 128Â 0594â€¬,ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622,14/06/2022,9:47:45 PM,â€ª+233Â 20Â 844Â 7587â€¬,â€sticker omitted

In [58]:
Mychat.dropna()

,Date,Time,User,Message
0,02/02/2019,3:23:40 PM,FINANCE 2020ğŸ’™,â€Messages and calls are end-to-end encrypted....
3,30/08/2021,7:53:53 AM,Jakk,*ğŸ“Š THE FINANCE FOCUS ğŸ“Š*
6,30/08/2021,4:41:07 PM,Enock Fin,â€â€Your security code with Enock changed. â€Tap...
7,31/08/2021,7:30:43 PM,â€ª+233Â 57Â 514Â 1967â€¬,https://test.nsscertificate.com/certificate/g...
8,31/08/2021,7:41:34 PM,AIM,https://test.nsscertificate.com/certificate/g...
...,...,...,...,...
4616,14/06/2022,1:07:59 PM,Kakraba,â€image omitted
4619,14/06/2022,9:33:33 PM,Nii Nortey,Abeg
4620,14/06/2022,9:34:13 PM,â€ª+233Â 59Â 128Â 0594â€¬,Joshua Addo
4621,14/06/2022,9:37:26 PM,â€ª+233Â 59Â 128Â 0594â€¬,ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜ğŸ˜
4622,14/06/2022,9:47:45 PM,â€ª+233Â 20Â 844Â 7587â€¬,â€sticker omitted

In [60]:
Mychat.describe()

              Date         Time      User            Message
count         2565         2638      2565               2528
unique         231         2565       148               1797
top     18/11/2021   3:23:40 PM   Kakraba   â€sticker omitted
freq           278            3       587                151

In [62]:
Mychat['User'].value_counts()

 Kakraba                                                                                                    587
 Nii Nortey                                                                                                 162
 Zigaman                                                                                                    128
 Atswei                                                                                                     128
 Innocent                                                                                                   127
                                                                                                           ...
 â€â€â€ª+233Â 24Â 036Â 0428â€¬ changed their phone number to a new number. â€Tap to message or add the new number.      1
 â€ª+233Â 20Â 389Â 6705â€¬                                                                                           1
 â€Joey removed â€ª+233Â 20Â 389Â 6705â€¬                                                                             1
 â€Joey added â€ª+233Â 24Â 036Â 0428â€¬                                                                               1
 â€â€â€ª+233Â 50Â 416Â 7099â€¬ changed their phone number to a new number. â€Tap to message or add the new number.      1
Name: User, Length: 148, dtype: int64

In [68]:
Mychat['User'].value_counts().head(20)

 Kakraba               587
 Nii Nortey            162
 Zigaman               128
 Atswei                128
 Innocent              127
 Joey                  109
 Yankey                 99
 Ernestoo               87
 Fred (Fin)             84
 Sylvester              79
 Opare                  72
 Prince Fin             70
 AIM                    54
 Jakk                   47
 â€ª+233Â 55Â 743Â 2624â€¬     35
 â€ª+233Â 57Â 074Â 6958â€¬     34
 â€ª+233Â 59Â 128Â 0594â€¬     33
 â€ª+233Â 24Â 247Â 8684â€¬     31
 â€ª+233Â 54Â 664Â 1794â€¬     28
 Naa Koshie             27
Name: User, dtype: int64